<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>nike</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <img class="img_tenisV" src="../../assets/img/image-removebg-preview (3) 1.png" alt="Tênis">
    <h1 class="title">SUMMER <br> COLLECTIONS</h1>
    <h1 class="sub">2022</h1>
    <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vitae porta ante. Suscipit suscipit massa justo consequat accumsan.</p>
    <div class="action-buttons">
      <ion-button [routerLink]="['/produto']" class="btn-primary">GET STARTED </ion-button>
    </div>
  </div>
</ion-content>
